    :root { --vh: 1vh; }
    html, body { margin:0; padding:0; }

*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pantalla-ini{
    height: 100vh;
    width: 100%;
    background-image: url('../IMG/fondoPantallaIni.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    animation: desaparecer 3s ease-in-out forwards;
}

@keyframes desaparecer {
    0%, 75% {opacity: 1;}
    100% {opacity: 0; visibility: hidden;}    
}

span{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: brown;
}

p{
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    color: brown;
    text-align: center;
}

.cont-cortina{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 4;
    display: flex;
}

.desaparecer-cortina{
    animation: quitarCortina 6s ease-in-out forwards;
}

@keyframes quitarCortina {
    99% {display: flex;}
    100% {display: none;}
    
}

.lat-izq, .lat-der{
    height: 100%;
    width: 50%;
}

.lat-izq{
    background-image: url('../IMG/fondoPapel-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 5px 0 5px #888;
    z-index: 3;
}

.lat-der{
    background-image: url('../IMG/fondoPapel-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -5px 0 5px #888;
}

.deslizar-der{
    animation: abrirLatDer 6s ease-in-out forwards;
}

.deslizar-izq{
    animation: abrirLatIz 6s ease-in-out forwards;
}

@keyframes abrirLatDer {
    0% {transform:  translateY(0); border-radius: 0;}
    30% {border-radius: 25vh 25vh 0 0;}
    100% {transform:  translateY(100vh); border-radius: 25vh 25vh 0 0;}
}

@keyframes abrirLatIz {
    0% {transform:  translateY(0); border-radius: 0;}
    30% {border-radius: 0 0 25vh 25vh;}
    100% {transform:  translateY(-100vh); border-radius: 0 0 25vh 25vh;}
}

.lazo{
    position: absolute;
    top: 30vh;
    width: 100%;
    height: 200px;
    background-image: url('../IMG/lazo2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
}

.deslizar-lazo{
    animation: deslizarLazo 2s ease-in-out forwards;
}

@keyframes deslizarLazo {
    from {opacity: 1;}
    to {opacity: 0;}    
}

.cont-btn{
    position: absolute;
    top: 75vh;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.desaparecer-btn{
    animation: desaparecerBtn 1s ease-in-out forwards;
}

@keyframes desaparecerBtn {
    from {opacity: 1;}
    to {opacity: 0;}
    
}

button{
    background: none;
}

#contenedor-ar{
    height: 40vh;
    width: 100%;
    background: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

model-viewer {
      width: 100%;
      max-width: 500px;
      height: 400px;
      background: linear-gradient(to bottom, #dde3e8, #ffffff);
    }

.nombre-invitado{
    padding: 10px;
    background: linear-gradient(to bottom, #fff,#fff , #ffffff00);
}

.leyenda{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}

.contenedor-video{
  position: relative;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}

video {
  width: 100%;
  display: block;
}

.contenedor-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* altura del degradado */
  background: linear-gradient(to bottom, #fff, transparent);
  pointer-events: none; /* no bloquea clicks */
  z-index: 2;
}

.pie-pagina{
    width: 100%;
    height: 150px;
    background-image: url('../IMG/fondoFormu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dde3e8;
}

.pie-pagina a{
    font-family: "Dancing Script", cursive;
    font-weight: 800;
    font-size: 2rem;
    color: #2754F5;
    text-decoration: none;
}