*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    width: 100%;
    color: brown;
    text-align: center;
}

.contenedor-ar{
    position: relative;
    height: 80vh;
    width: 100vh;
    overflow: hidden;
}


a-scene {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;

}

.contenedor-imagen{
    width: 100vh;
}

.contenedor-imagen img{
    object-fit: contain;
}